window {
    background-color: black;
    background-image: url("assets/lockscreen.jpg");
    background-repeat: no-repeat;
    background-position: center;
}
#clock-label {
    opacity: 0.0;
    font-size: 0.0;
}
